
<div *ngIf="shows">
    <h3 class="orange-text">Shows On TV</h3>
    <div class="row is-flex">
      <div class="col-sm-6 col-md-4 col-lg-2 col-xs-6" *ngFor="let show of shows; let i = index;">
        <div class="thumbnail">
          <a routerLink="/show-detail/{{show.id}}">
          <img src="https://image.tmdb.org/t/p/w300/{{show.poster_path}}" *ngIf="show.poster_path">
          </a>
          <div class="caption">
            <h4 class="text-ellipsis">
              {{show.name}}
            </h4>
            <p><strong>First Air Date: </strong>{{show.first_air_date}}</p>
            <p>
              <a routerLink="/show-detail/{{show.id}}">More Info</a>
              <small class="label label-danger pull-right">
                {{show.vote_average}}
                <i class="glyphicon glyphicon-heart"></i>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
